:root {
  --purple-shade: #8b18ff;
}

* {
  padding: 0%;
  margin: 0%;
  scroll-behavior: smooth;
}
/* div{
  border: #8500ff 1px solid;
} */
body {
  background-image: radial-gradient(rgba(37, 14, 40), #0d0b0c);
  background-color: #0d0b0c;
  background-position: center;
  overflow-x: hidden;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #0d0b0c;
  z-index: 2;
  border-bottom: 2px solid #8500ff;
  box-shadow: #8500ff 2px;
}

.action {
  padding: 3px 5px !important;
  transition: all 0.5s ease;
  border-radius: 3px;
}

.action:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.navList {
  margin: 0%;
  padding: 0%;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: large;
}

.navList li {
  display: inline-block;
}

.navList li a {
  position: relative;
  text-decoration: none;
  transition: all 0.3s;
  color: white;
}

.navList li a::after {
  position: absolute;
  left: 0%;
  bottom: -20%;
  content: "";
  height: 10%;
  width: 0%;
  border-radius: 100px;
  background-color: var(--purple-shade);
  transition: all 0.3s;
}

.navList li:hover a {
  width: 100%;
  color: var(--purple-shade);
}

.navList li:hover a::after {
  width: 100%;
}

.mobile {
  display: none;
}

.ham {
  padding: 10px 0 0 20px;
  font-size: 2.5rem;
}

.Active {
  width: 100%;
  color: var(--purple-shade);
}

.Active a::after {
  width: 100%;
}

.dropDown {
  transition-duration: 0.3s;
  height: 0px;
  overflow: hidden;
}

.dropDown a {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 2rem;
  padding-left: 3%;
}

.dropOn {
  height: calc(250px + 2rem);
}

@media screen and (max-width: 935px) {
  .mobile {
    display: block;
  }

  nav {
    position: static;
  }

  .desktop {
    display: none;
  }
}

.main {
  width: 100vw;
  height: 100vh;
  color: white;
  backdrop-filter: blur(2px);
  justify-content: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%230D0B0C'/%3E%3Cstop offset='1' stop-color='%23250E28'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23190d1a'/%3E%3Cstop offset='1' stop-color='%23250E28'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.04' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

#AboutUs{
  background-color: #250E28;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.54'%3E%3Ccircle fill='%23250E28' cx='50' cy='0' r='50'/%3E%3Cg fill='%23240e26' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23240e25' cx='50' cy='100' r='50'/%3E%3Cg fill='%23230e23' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23220e21' cx='50' cy='200' r='50'/%3E%3Cg fill='%23210d20' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23210d1f' cx='50' cy='300' r='50'/%3E%3Cg fill='%23200d1d' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%231f0d1c' cx='50' cy='400' r='50'/%3E%3Cg fill='%231e0d1a' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%231d0d19' cx='50' cy='500' r='50'/%3E%3Cg fill='%231c0c18' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%231b0c17' cx='50' cy='600' r='50'/%3E%3Cg fill='%231a0c15' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23180c14' cx='50' cy='700' r='50'/%3E%3Cg fill='%23170c13' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23150b11' cx='50' cy='800' r='50'/%3E%3Cg fill='%23130b10' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23120b0f' cx='50' cy='900' r='50'/%3E%3Cg fill='%230f0b0d' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%230D0B0C' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}
.main h1 strong {
  color: var(--purple-shade);
}

.main h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.7rem;
  line-height: 60px;
  text-shadow: 10px 15px 20px black;
}

.AboutUs h2 {
  color: var(--purple-shade);
}

.Tracks h2 {
  color: var(--purple-shade);
}

.Tracks .row {
  padding-top: 3%;
  padding-bottom: 3%;
}

.Tracks .row:nth-child(even) {
  flex-direction: row-reverse;
}

.btn-purple-outline {
  width: 30%;
  margin: 0%;
  padding: 0%;
  background-image: linear-gradient(90deg, var(--purple-shade), #8500ff);
  padding: 1px;
}

  .footer_sections {
  font-family: "Poppins", sans-serif;
  width: 70vw;
  margin: 30px auto;
  display: flex;
  color: #fff;
  justify-content: space-between;
}

.footer_section {
  font-family: "Poppins", sans-serif;
  width: 70vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.footer_section img {
  height: 80px;
}

.social_icons {
  color: #ffffff;
}

.social_icons i {
  font-size: 25px;
  margin-left: 5px;
}

.footer_section_1 {
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  padding: 20px;
  width: 430px;
}

.footer_section_1_content p {
  color: #ffffff;
}

.footer_section h1 {
  font-size: 16px;
  color: #fff;
}

.footer_section_2 a {
  color: #c2c2b7;
}

.footer_section img {
  width: 40px;
}

.footer_section_3 {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
}
/* 
.footer_section_3 img {
  width: 300px;
} */

/* media queries */

@media (max-width: 600px) {
  .footer_section {
    font-family: "Poppins", sans-serif;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  .footImg{
    margin-left: 40px;
  }
}
@media (max-width: 768px) {
  .footer_section {
    display: block;
    margin: auto;
    width: auto;
  }
  .footer_section_2 {
    text-align: center;
  }
  .footer_section_1 {
    margin: 10px auto 20px auto;
    max-width: 600px;
  }
  .footA{
    text-align: center;
    margin:20px 40px;
  }

  .footer_section_2 {
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer_section_3 p {
    font-size: 10px;
  }

  /* .footer_section_3 img {
    width: 180px;
  } */
}

@media (max-width: 692px) {
  .footer_section_1 {
    margin: auto auto;
    max-width: 500px;
  }
}

@media (max-width: 590px) {
  .title {
    margin-bottom: 0;
  }
  #footer{
    margin: 0;
    padding: 0;
  }
  .footer_section_1 {
    max-width: 410px;
  }
}

@media (max-width: 472px) {
  .footer_section_1 {
    margin: auto auto;
    max-width: 350px;
  }
}

@media (max-width: 376px) {
  .main {
    margin: auto auto;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
  }
  .footer_section_1 {
    max-width: 280px;
  }

  .footer_section_3 {
    display: block;
    /* padding-left: 80px; */
  }
}

@media (max-width: 327px) {
  .footer_section_1 {
    max-width: 16rem;
  }

  .footer_section_3 {
    display: block;
    /* padding-left: 30px; */
  }
}

.bg-purple-dark {
  background-color: #0f001a;
}

.register {
  width: 250px;
  height: 54px;
  color: white;
  border: 2px solid #8500ff;
  border-bottom: none;
  background: #0d0b0c;
  box-shadow: -4px -4px 15px rgba(0, 0, 0, 0.25),
    inset -4px -4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.carousel-inner img {
  margin: auto;
}

.acha{
  margin-top: 18px;
}

/* 
button{
  position: relative;
  background-color: black;
  border-radius: 0.5rem;
  font-size: 16px;
  color: white;
  padding: 0.8em 1.8em;
  cursor:pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; 
}

button:hover {
  transition-duration: 0.1s;
  
}

button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: .5rem;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 0 0 #8500ff;
}

button:hover:after {
  box-shadow: 0 0 7px 7px #8500ff;
  position: absolute;
  border-radius: 0.5rem;
  left: 0;
  top:0;
  opacity: 1;
}

button:active {
  top: 1px;
} */



/* div{
  border: 2px solid red;
} */